%h1 New quiz
= error_messages_for :quiz

- form_for( setup_quiz(@quiz) ) do |f|
  - content_for :jstemplates do
    = "var question='#{ generate_template(f, :questions)}'"
  %p
    = f.label :name
    %br
      = f.text_field :name
  #questions
    - f.fields_for :questions do |nf|
      = render :partial => 'question', :locals => { :f => nf }
  %p
    =link_to_function "Add a question", "newQuestion()"
  %p
    = f.submit "Save"
%p 
  = link_to 'Back', quizzes_path