<h1>Editing quiz_session</h1>

<% form_for(@quiz_session) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= label :quiz_session, :user, 'Select User' %>
    <%= f.collection_select( :user_id, User.all, :id, :username) %>
  </p>
  <p>
    <%= label :quiz_session, :quiz, 'Select Quiz' %>
    <%= f.collection_select( :quiz_id, Quiz.all, :id, :name) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quiz_session %> |
<%= link_to 'Back', quiz_sessions_path %>